<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><label for="name">
     Team Name: <%= @name %>
   </label>
   </p></h1>
   <p>
   <label for="coach">
     Coach: <%= @coach %>
   </label>
   </p>
   <p>
   <label for="point guard">
     Point Guard: <%= @pg %>
   </label>
   </p>
   <p>
   <label for="shooting guard">
     Shooting Guard: <%= @sg %>
   </label>
   </p>
   <p>
   <label for="small forward">
     Small Forward: <%= @sf %>
   </label>
   </p>
   <p>
   <label for="power forward">
     Power Forward: <%= @pf %>
   </label>
   </p>
   <p>
   <label for="center">
     Center: <%= @c %>
   </label>
   </p>


 </body>
</html>
